body{
text-align: center;
margin: 0;
background-color:  hsl(210,76%, 87%);

}
.backimg{
    width: 100%;
}

.card{
    border-style:solid;
    border-radius: 15px;
    border-width: 10px;
    border-color: white;
    width:210px; 
    height: 350px;
  position: relative;
  left: 40%;
  top: 50%;
  background-color: white;
}

.img{
border-radius: 10px;
width: 13rem;
height:auto;

border-color:green;

}
.para{
    line-height: 1;
}
.p1{
line-height: 1;
width: 90%;
text-align: center;
position: absolute;
left: 15px;
text-decoration-color: black;
font-family: 'Outfit', sans-serif;
font-weight: 700;
font-size: 15px;
}
.p2{
    position: absolute;
   bottom: 25px;
   
font-size:12px;
font-weight: 400;
width: 90%;
margin-left: 15px;
text-align: center;
font-family: 'Outfit', sans-serif;
color: grey;
}